{%load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Romope - Receitas{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Esta tag serve para importar o Tailwind CSS na sua página -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
      integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
        body{
            font-family: 'Inter', sans-serif;
        }
      {% block extra_style %}
      {% endblock %}
    </style>
  </head>
  <body>
    {% block content %} {% endblock %}
    <footer class="mt-12 p-6 text-center text-gray-600">
      <p>&copy; 2025 Minhas Receitas - Ronaldo INC.</p>
    </footer>
  </body>
</html>
